*{
  font-family: "Verdana", "sans-serif";
  background-color: #F0F0F0; ;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  position: fixed;
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  height: 50px;
  width: 100%;

  color: #FFFFFF;
}

#cabecalho{  
  background-color: #000000;
}

#cabecalho-imagens-videos{
  background-color: #00FF00;
  height: 100px;
}


#cabecalho-imagens-videos img{
  height: 80px;
}

header img {
  height: 30px;
}
header ul {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style: none;
}

header li a {
  text-decoration: none;
}

header li a:hover {
  background-color: #FF0000;
}


main {
  margin-top: 35px;
  padding: 1rem;
}

h1 {
  margin-top: 30px;
  height: 60px;
  
  font-size: 20px;
  color: white;
  text-align: center;

  background: url("https://miro.medium.com/max/1140/1*jnhgiJ5Z16elapyBhf4-9Q.jpeg") no-repeat;
  background-size: cover;
}

#titulo-imagens-videos{
  margin-top: 80px;
}

p {
  font-size: 14px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: #FFC0CB;
  width: 100%;
  height: 100%;  

  padding: 50px;

  input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
}


#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 30px
  margin: 20px;
  
  h2{
    font-family: Arial;
    font-size: 20px;
    color: green;
  }

}

button {
  background-color: white;
  padding: 10px;
  border: solid 2px black;
  border-radius: 10px;
}


#imagens {
  height: 50vh;
  margin: 20px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imagens img {
  width: 25vw;

}

#imagens img:nth-child(2) {
  border-radius: 10px;
}


footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
